@model IEnumerable<mvc.Models.Picture>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img class="img-fluid" src="@(ViewData["URLAPI"] + item.PictureView)" alt="Alternate Text" />
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.PictureId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
