@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["TitlePage"];
}

<h1>@ViewData["Title"]</h1>

<p>@Localizer["Message"]</p>
