@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["TitlePage"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>@ViewData["Title"]</h1>

    <p>@Localizer["Message"]</p>
<img src="~/img/non.jpg" />