@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.Models.AspNetUser

@{
    ViewData["Title"] = Localizer["TitlePage"];
}

    <h1>@ViewData["Title"]</h1>

<h4>@Localizer["Title1"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Firstname" class="control-label"></label>
                <input asp-for="Firstname" class="form-control" />
                <span asp-validation-for="Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorpulenceId" class="control-label"></label>
                <select asp-for="CorpulenceId" class="form-control" asp-items="ViewBag.CorpulenceId"></select>
                <span asp-validation-for="CorpulenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairColorId" class="control-label"></label>
                <select asp-for="HairColorId" class="form-control" asp-items="ViewBag.HairColorId"></select>
                <span asp-validation-for="HairColorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HairSizeId" class="control-label"></label>
                <select asp-for="HairSizeId" class="form-control" asp-items="ViewBag.HairSizeId"></select>
                <span asp-validation-for="HairSizeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexeId" class="control-label"></label>
                <select asp-for="SexeId" class="form-control" asp-items="ViewBag.SexeId"></select>
                <span asp-validation-for="SexeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SexualityId" class="control-label"></label>
                <select asp-for="SexualityId" class="form-control" asp-items="ViewBag.SexualityId"></select>
                <span asp-validation-for="SexualityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReligionId" class="control-label"></label>
                <select asp-for="ReligionId" class="form-control" asp-items="ViewBag.ReligionId"></select>
                <span asp-validation-for="ReligionId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value=@Localizer["Save"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details">@Localizer["Back"]</a>
</div>

