@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.Models.AspNetRole

@{
    ViewData["Title"] = Localizer["TitlePage"];
}

<div>
    <form asp-controller="Admin" asp-action="CreateRole" method="post" class="form-text">
        <label>@ViewData["Title"]</label>
        <input asp-for="Name" />
        <input type="submit" value=@ViewData["Create"] />
    </form>
</div>
