@model mvc.Models.AspNetUser
@{
    ViewData["Title"] = "GiveNewPassword";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Reset password</h1>

<p>Do you want to give a new password to @Model.NormalizedUserName ?</p>
<form asp-action="GiveNewPassword">
    <div class="form-group">
        <input type="submit" value="New Pasword" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Details" asp-route-id="@Model.Id">Return to Details</a>