@model mvc.ViewModels.Admin.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Bienvenue Administrateur</h1>

<p>Il y a actuellement @this.Model.nbUsers profils crées</p>
<a asp-action="Search">Search user</a>
<br />
<a asp-action="Roles">Manage roles</a>


