@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.ViewModels.Admin.RolesModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = Localizer["TitlePage"];
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <p>
            <div>
                <h2>@Localizer["Roles"]</h2>
                <ul class="list-group-item">
                    @foreach (var role in Model.Roles)
                    {
                        <li>
                            @role
                        </li>
                    }
                </ul>
            </div>
            <br />
            <partial name="CreateRole" model="new mvc.Models.AspNetRole()">
        </p>
        <br />
        <p>
            <partial name="AddUserToRole" model="new mvc.ViewModels.Admin.UpdateUserRoleModel() { Users = Model.Users, Roles = Model.Roles }">
        </p>
    </div>
</div>


