@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.Models.Insult

@{
    ViewData["Title"] = Localizer["TitlePage"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["Title1"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="InsultId" />
            <div class="form-group">
                <label asp-for="InsultName" class="control-label"></label>
                <input asp-for="InsultName" class="form-control" />
                <span asp-validation-for="InsultName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@Localizer["Save"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
