@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.ViewModels.AdInput

@{
    ViewData["Title"] = Localizer["TitlePage"];
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">@ViewData["Title"]</h1>
    </div>
    <h4>@Localizer["Ad"]</h4>
    <!-- Content Row -->
    <div class="row">

        <hr />

        <div class="col-md-12">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Titre" class="control-label"></label>
                    <input asp-for="Titre" class="form-control" />
                    <span asp-validation-for="Titre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="file" class="control-label"></label>
                    <input asp-for="file" type="file" accept="image/*" class="form-control" />
                    <span asp-validation-for="file" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Link" class="control-label"></label>
                    <input asp-for="Link" type="text" class="form-control" />
                    <span asp-validation-for="Link" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value=@ViewData["Title"] class="btn btn-primary" />
                </div>
            </form>
        </div>

        <div>
            <a asp-action="Index">@Localizer["Back"]</a>
        </div>
    </div>
</div>
