@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model mvc.Models.ContactRequest

@{
    ViewData["Title"] = Localizer["TitlePage"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<h4>@Localizer["Title1"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RequestText" class="control-label"></label>
                <input asp-for="RequestText" class="form-control" />
                <span asp-validation-for="RequestText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value=@ViewData["Title"] class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

