
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>
<partial name="PartAds" />
<p>Une erreur s'est produite peut-être n'avez-vous pas effectué les actions suivantes : </p>
<p>Vous n'avez pas rempli vos préférences avant d'effectuer des recherches.</p>
<a class="btn-link" asp-area="" asp-controller="Matching" asp-action="Matching">Préférences</a><br />

<p>Vous n'avez pas rempli le quiz</p>
<a class="btn-link" asp-area="" asp-controller="Quiz" asp-action="Quiz">Quiz</a>

