   
    <div class="container">
        <div class="page-header">
            <h1>Merci d'avoir confirmé votre Email</h1>
        </div>

        <p>Vous pouvez maintenant vous connecter</p>
    </div>