   
    <div class="container">
        <div class="page-header">
            <h1>Votre inscription est terminée</h1>
        </div>

        <p>Vous recevrez un email à cette adresse : <strong>@Html.ViewData.Model.Email</strong> pour vous informer quand votre compte sera actif.</p>
    </div>