@model IdentityServerAspNetIdentity.ViewModels.RegisterInput
<div class="signup-page">
    <div class="page-header">
        <h1>Sign Up</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Local Sign Up</h3>
                </div>
                
                <div class="panel-body">
                    @if(ViewData["error"] != null)
                    {
                        <div class="alert-danger">
                            <p>@ViewData["error"].ToString();</p>
                        </div>
                    }
                    <form asp-route="SignUpSend">
                        <fieldset>
                            <div class="form-group">
                                <label asp-for="UserName"></label>
                                <input class="form-control" placeholder="Username" asp-for="UserName" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="PasswordHash"></label>
                                <input type="password" class="form-control" placeholder="Password" asp-for="PasswordHash" autocomplete="off">
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input type="email" class="form-control" placeholder="Email" asp-for="Email" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="Firstname"></label>
                                    <input type="text" class="form-control" placeholder="Firstname" asp-for="Firstname" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input type="text" class="form-control" placeholder="LastName" asp-for="LastName" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="Birthday"></label>
                                    <input type="date" class="form-control" placeholder="Birthday" asp-for="Birthday" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="PhoneNumber"></label>
                                    <input type="tel" class="form-control" placeholder="PhoneNumber" asp-for="PhoneNumber" autocomplete="off">
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn btn-primary" name="button" value="signup">Sign Up</button>

                            </div>
                            <p>You have already an account ? <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Sign in</a></p>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>