@model IdentityServerAspNetIdentity.ViewModels.SMSVerification
@{
    ViewData["Title"] = "Verify Phone number";
}

<h2>>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-8">
        <form asp-controller="Account" asp-action="PostVerifyPhoneModel" method="post">
            @if(Model.PhoneNumber == null)
            {
                <label> Votre numéro de téléphone</label>
                <input name="number" type="tel" />
                <input name="id" type="hidden" value="@TempData["id"]" />
            }

            <p>
                We will verify your phone number by sending a code to @Model.PhoneNumber
            </p>
            <div asp-validation-summary="All" class="text-danger"></div>
            <button type="submit" class="btn btn-primary">Send verification</button>
        </form>
    </div>
</div>
