
@{
    ViewData["Title"] = "Error";
}

<h1>Error</h1>

<p>Nous avons constaté une erreur durant l'enregistrement de vos préférences</p>
<p>Pour être sur que votre profil ne comporte pas d'erreur, nous avons réinitialisé vos préférences</p>